<%- include('./common.header.ejs', {title: "Brands"}); -%>
<%- include('./common.navbar.ejs', {user, util}); -%>
<div class="container">
    <%- include('./common.breadcrumbs.ejs', {crumbs}); -%>
    <%- include('./common.admin.form_tools.ejs', {formObject}); -%>
    <div class="row">
        <div class="col-12 mb-2">
            <table class="table table-sm table-bordered table-hover">
                <thead>
                    <tr class="table-active">
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (areas.length > 0) {%>
                        <% areas.forEach((area)=> { %>
                        <tr id="area_<%=area.id%>">
                            <td><%=area.id%></td>
                            <td><%=area.name%></td>
                            <td><a class="btn btn-sm btn-info" href="/admin/areas/<%=area.id%>">Details</a></td>
                        </tr>
                        <%});%>
                    <%} else {%>
                        <tr>
                            <td colspan="3">No records</td>
                        </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <%- include('./common.pagination.ejs', {pagination: formObject, util}); -%>
        </div>
</div>
</div>
<%- include('./common.footer.ejs', {scripts: []}); -%>