<%- include('./common.header.ejs', {title: "Login"}); -%>
<%- include('./common.navbar.ejs', {user, util}); -%>
<div id="main-container" class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-4 col-xl-4"></div>
        <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <%- include('./common.flash.ejs', {fm}); -%>
            <div class="jumbotron pt-2 pb-2">
                <h1 class="display-4 text-center mb-3">Login</h1>
                <form action="/login" method="POST">
                    <div class="form-group">
                    <input name="email" type="email" value="<%=formData.email%>" class="form-control" placeholder="Email">
                    <%if(errors && errors.email){%>
                        <p class="small text-danger"><%=errors.email%></p>
                    <%}%>
                    </div>
                    <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="Password">
                    <%if(errors && errors.password){%>
                        <p class="small text-danger"><%=errors.password%></p>
                    <%}%>
                    </div>
                    <div class="form-group form-check">
                    <input name="remember" type="checkbox" <%=formData.remember ? "checked" : ""%> class="form-check-input" id="rememberUser">
                    <label class="form-check-label" for="rememberUser">Remeber me</label>
                    </div>
                    <button type="submit"  class="btn btn-block btn-primary">Log in</button>
                    <hr class="my-4">
                    <p class="mt-2 mb-3 text-muted"><a href="/reset">Forgot Password?</a></p>
                    <p class="mt-2 mb-3 text-muted"><a href="/signup">Don't Have an account? Signup here</a></p>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4 col-xl-4"></div>
    </div>
    </body>
</div>
<%- include('./common.footer.ejs', {scripts: []}); -%>