<%- include('../common/header'); -%>
<%- include('../common/navbar.ejs'); -%>
<div class="container">
  <div class="row">
    <div class="col-12">
      <form action="/lead/<%=lead.id%>/edit" method="POST">
        <div class="form-group">
          <label for="emailInput">Email</label>
          <input name="lead_email"  type="email" class="form-control" id="emailInput" value="<%=lead.email%>">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
<%- include('../common/footer'); -%>