<%- include('../../common/header.ejs', {title: "Brand Details"}); -%>
<%- include('../../common/navbar.ejs', {user, util}); -%>
<div class="container">
  <%- include('../../common/breadcrumbs.ejs', {crumbs}); -%>
  <div class="row">
    <div class="col-12 text-center" id="loader_main">
      <span class="spinner-border" style="width: 3rem; height: 3rem;" role="status" aria-hidden="true"></span>
      <br/>
      <span class="sr-only">Loading...</span>
      Loading...
    </div>
    <div class="col-12" id="alert_main"></div>
  </div>
  <div id="form_main" class="row">
    <div id="record" data-id="<%=recordid%>"></div>
    <div class="col-5 mb-2">
      <label for="txt_brand_name">Brand Name</label>
      <input type="text" class="form-control" id="txt_brand_name" />
    </div>
    <div class="col-7"></div>
    <div class="col-5 mb-2">
      <label for="brandImage">Thumbnail</label><br />
      <img width="150" height="150" class="img-fluid img-thumbnail mb-1 mt-1" id="img_brand_thumbnail_preview" />
      <input type="file" accept=".jpg" class="form-control-file" id="file_brand_thumbnail">
    </div>
    <div class="col-7"></div>
    <div class="col-5 mb-2">
      <label for="grid_brand_categories">Categories</label><br />
      <div id="select_categories"></div>
      <input class="mt-1 mb-2" type="button" value="Add" id='btn_add_category' />
      <div id="grid_brand_categories"></div>
    </div>
    <div class="col-7"></div>
    <div class="col-5 mb-2">
      <input class="mt-1" type="button" value="Cancel" id='btn_cancel' />
      <input class="mt-1" type="button" value="Save" id='btn_save' />
    </div>
  </div>
</div>
<%- include('../../common/footer.ejs', {scripts: ["admin/brands/details.js"]}); -%>